# {{ ansible_managed }}

[Service]
# Must unset ExecStart before redefining, otherwise there are 2, which is an error.
# https://askubuntu.com/questions/659267/how-do-i-override-or-configure-systemd-services
ExecStart=
ExecStart={{ buildkite_agent_executable[ansible_os_family] }} {{ buildkite_agent_start_command[ansible_os_family] }}

User={{ buildkite_agent_username }}

{% if buildkite_agent_logs_dir[ansible_os_family] is defined %}
  # Point the agent logs at files if the user chooses a log dir. Otherwise they will flow to stdout/stderr/journal.
  StandardOutput=file:{{ buildkite_agent_logs_dir[ansible_os_family] }}/buildkite-agent.log
  StandardError=file:{{ buildkite_agent_logs_dir[ansible_os_family] }}/buildkite-agent.log
{% endif %}
