<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- https://launchd.info -->

<plist version="1.0">
<dict>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/usr/local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>

  <key>Label</key>
  <string>homebrew.mxcl.buildkite-agent</string>

  <key>ProcessType</key>
  <string>Interactive</string>

  <key>ProgramArguments</key>
  <array>
    <string>{{ buildkite_agent_executable[ansible_os_family] }}</string>
    <string>start</string>
    <string>--config</string>
    <string>{{ buildkite_agent_conf_dir[ansible_os_family] }}/buildkite-agent.cfg</string>
{% if buildkite_agent_spawn %}
    <string>--spawn={{ buildkite_agent_spawn }}</string>
{% endif %}
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>{{ buildkite_agent_logs_dir[ansible_os_family] }}/buildkite-agent.log</string>

  <key>StandardOutPath</key>
  <string>{{ buildkite_agent_logs_dir[ansible_os_family] }}/buildkite-agent.log</string>

  <key>ThrottleInterval</key>
  <integer>30</integer>

  <key>WorkingDirectory</key>
  <string>{{ buildkite_agent_home_dir[ansible_os_family] }}</string>
</dict>
</plist>
